@model ScannerWb.Models.Dictionaries

@{
    ViewData["Title"] = "_Result";

    string output = "";
}



<div>

    @foreach (KeyValuePair<int, List<String>> token_type in Dictionaries.FinStat_Key_Token_Dic)
     {

        foreach (KeyValuePair<int, string> text_token in Dictionaries.Saved_KeyWords)
        {

            if (token_type.Key == text_token.Key)
            {

                output = ("Token Text:   " + text_token.Value + "Token Type:   " + token_type.Value[1]);

                <p>@Html.Raw(output)</p>

                <br />
                
                output = "";
            }


        }

     }
</div>

